<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <ul>
          <li>Info</li>
          <li>About Us</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="header-right">
        <ul>
          <li>LOGIN</li>
          <li>($)</li>
        </ul>
      </div>
    </div>

    <div class="hero">
      <div class="hero-data">
        <h1>Enjoy our hot summer deals</h1>
        <p>from $69.50</p>
      </div>
      <button>Book Now!</button>
    </div>

    <div class="meta">
      <h3>LOW COST DOESN'T MEAN CHEAP</h3>
      <h2>Fly smart, fly with Green Earth</h2>
      <div class="grid">
        <div class="element">
          <i class="fa fa-wheelchair fa-3x"></i>
          <h4>Reclinable Seats</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequuntur officia quas iusto sed pariatur?</p>
        </div>
        <div class="element">
          <i class="fa fa-wheelchair fa-3x"></i>
          <h4>Reclinable Seats</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequuntur officia quas iusto sed pariatur?</p>
        </div>
        <div class="element">
          <i class="fa fa-wheelchair fa-3x"></i>
          <h4>Reclinable Seats</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequuntur officia quas iusto sed pariatur?</p>
        </div>
        <div class="element">
          <i class="fa fa-wheelchair fa-3x"></i>
          <h4>Reclinable Seats</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, consequuntur officia quas iusto sed pariatur?</p>
        </div>
      </div>
    </div>

    <div class="card-container">
      <h3 class="card-container-title">Showing our offers from</h3>
      <div class="cards">
        <div class="card">
          <div class="top"></div>
          <div class="bottom">
            <div class="bottom-top">
             <h3 class="location">London</h3>
             <p class="price">from $59</p>
            </div> 
            <button class="bottom-btn">Book Now ></button>
          </div>
        </div>
        <div class="card">
          <div class="top"></div>
          <div class="bottom">
            <div class="bottom-top">
             <h3 class="location">London</h3>
             <p class="price">from $59</p>
            </div> 
            <button class="bottom-btn">Book Now ></button>
          </div>
        </div>
        <div class="card">
          <div class="top"></div>
          <div class="bottom">
            <div class="bottom-top">
             <h3 class="location">London</h3>
             <p class="price">from $59</p>
            </div> 
            <button class="bottom-btn">Book Now ></button>
          </div>
        </div>
        <div class="card">
          <div class="top"></div>
          <div class="bottom">
            <div class="bottom-top">
             <h3 class="location">London</h3>
             <p class="price">from $59</p>
            </div> 
            <button class="bottom-btn">Book Now ></button>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-top">
        <p>Subscribe to our newsletter</p>
        <form action="#">
          <input type="text" placeholder="Enter your email address">
          <button>Send</button>
        </form>
      </div>
      <div class="footer-bottom">
        <p>Follow Us:</p>
        <div class="social-media">
          <div class="i-container"><i class="fa fa-facebook-f fa-2x"></i></div>
          <div class="i-container"><i class="fa fa-twitter fa-2x"></i></div>
          <div class="i-container"><i class="fa fa-instagram fa-2x"></i></div>
        </div>
      </div>
    </div>
  </body>
</html>
